html {
    height:100%;
  }
  
  body {
    margin:0;
  }
  
  .bg {
    animation:slide 20s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:17s;
  }
  
  .bg3 {
    animation-duration:19s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }
 

.container{
    font-family:'Signika', sans-serif;
    font-size:125%;
    height:100%;
    width:100%;
}

@media screen and (max-width: 600px) {
    .container{
        font-size: 75%;
    }
}

h1{
    background-color: blue;
    color: beige;
    font-size: 5% auto;

   
}

nav a{
   font:Arial;
   font-size: x-large;
   font-style: bold;
   text-decoration: none;
   color: rgb(20, 42, 236);
   font-display: bold;
}

.parent2{
    background-color: blue;
    color: beige;
    font-size: 5% auto;
}

footer{
    background-color: blue;
    color: beige;
    font-size: 5% auto;
}






